/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2017, 22:15:23
    Author     : SARA
*/

.bthotel{
    -fx-background-image: url("../image/hotel.jpg");
    -fx-background-position: top;
    -fx-background-size: 120, 120;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffffff;
    -fx-background-radius: 25px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
}
